.ContactItem {
    width: 100%;
    margin: 1rem 0;
    .contact{
        padding: 6rem;
        display: flex;
        align-items: center;
        height: 10rem;
        background-color: black; 
        .right-items{
            margin-left: 2rem;
        }
        img{
            margin: 2rem;
            padding: 1rem;
            border: 1px solid rgb(68, 66, 66);
            margin-left: 2rem;
            width: 16%;
        }
        .right-items{
            h6{
                font-size: 1.4rem;
                font-weight: 500;
            }
        }
    }
}
.ContactPage {
    display: grid;
    grid-template-columns: repeat(2 1fr);
    .contact-sector{
        width: 100%;
    
    }
}
.contact-sector{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
